/*.theme-Shadeblue .navbar {
  background-color: #026f75; }

.theme-Shadeblue .navbar-brand {
  color: #fff; }
  .theme-Shadeblue .navbar-brand:hover {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:active {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:focus {
    color: #fff; }

.theme-Shadeblue .nav > li > a {
  color: #fff; }
  .theme-Shadeblue .nav > li > a:hover {
    background-color: transparent; }
  .theme-Shadeblue .nav > li > a:focus {
    background-color: transparent; }

.theme-Shadeblue .nav .open > a {
  background-color: transparent; }
  .theme-Shadeblue .nav .open > a:hover {
    background-color: transparent; }
  .theme-Shadeblue .nav .open > a:focus {
    background-color: transparent; }

.theme-Shadeblue .bars {
  color: #fff; }

.theme-Shadeblue .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-Shadeblue .sidebar .menu .list li.active > :first-child i, .theme-Shadeblue .sidebar .menu .list li.active > :first-child span {
    color: #026f75; }

.theme-Shadeblue .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-Shadeblue .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-Shadeblue .sidebar .legal {
  background-color: #fff; }
  .theme-Shadeblue .sidebar .legal .copyright a {
    color: #026f75 !important; }*/

/*00617C*/
.theme-Shadeblue .navbar {
  background-color: #00617C; }

.theme-Shadeblue .navbar-brand {
  color: #fff; }
  .theme-Shadeblue .navbar-brand:hover {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:active {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:focus {
    color: #fff; }

.theme-Shadeblue .nav > li > a {
  color: #fff; }
  .theme-Shadeblue .nav > li > a:hover {
    background-color: transparent; }
  .theme-Shadeblue .nav > li > a:focus {
    background-color: transparent; }

.theme-Shadeblue .nav .open > a {
  background-color: transparent; }
  .theme-Shadeblue .nav .open > a:hover {
    background-color: transparent; }
  .theme-Shadeblue .nav .open > a:focus {
    background-color: transparent; }

.theme-Shadeblue .bars {
  color: #fff; }

.theme-Shadeblue .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-Shadeblue .sidebar .menu .list li.active > :first-child i, .theme-Shadeblue .sidebar .menu .list li.active > :first-child span {
    color: #00617C; }

.theme-Shadeblue .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-Shadeblue .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-Shadeblue .sidebar .legal {
  background-color: #fff; }
  .theme-Shadeblue .sidebar .legal .copyright a {
    color: #00617C !important; }

  /*dee9f2*/

  /*.theme-Shadeblue .navbar {
  background-color: #dee9f2; }

.theme-Shadeblue .navbar-brand {
  color: #fff; }
  .theme-Shadeblue .navbar-brand:hover {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:active {
    color: #fff; }
  .theme-Shadeblue .navbar-brand:focus {
    color: #fff; }

.theme-Shadeblue .nav > li > a {
  color: #fff; }
  .theme-Shadeblue .nav > li > a:hover {
    background-color: transparent; }
  .theme- .nav lue .nav > li > a:focus {
    background-color: transparent; }

.theme-Shadeblue .nav .open > a {
  background-color: transparent; }
  .theme-Shadeblue .nav .open > a:hover {
    background-color: transparent; }
  .theme-Shadeblue .nav .open > a:focus {
    background-color: transparent; }

.theme-Shadeblue .bars {
  color: #fff; }



.theme-Shadeblue .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-Shadeblue .sidebar .menu .list li.active > :first-child i, .theme-Shadeblue .sidebar .menu .list li.active > :first-child span {
    color: #dee9f2; }

.theme-Shadeblue .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-Shadeblue .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-Shadeblue .sidebar .legal {
  background-color: #fff; }
  .theme-Shadeblue .sidebar .legal .copyright a {
    color: #dee9f2 !important; }*/







